 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 732px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 900;
  width: 269px;
  margin: 69px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 540px;
  margin: 51px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 473px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 50px 0 0;
}

.u-section-1 .u-form-1 {
  height: 317px;
  margin: 110px -60px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.u-section-1 .u-image-1 {
  width: 49px;
  height: 49px;
  margin: -418px 463px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: -38px 270px 0 693px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 9px 288px 0 693px;
}

.u-section-1 .u-image-2 {
  width: 48px;
  height: 38px;
  margin: 25px 464px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  text-transform: none;
  text-align: start;
  font-weight: 700;
  margin: -33px 181px 0 693px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  text-align: start;
  margin: 9px 233px 0 693px;
}

.u-section-1 .u-image-3 {
  width: 35px;
  height: 50px;
  margin: 25px 474px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  text-transform: none;
  text-align: start;
  font-weight: 700;
  margin: -43px 0 0 693px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  text-align: start;
  margin: 9px 233px 0 693px;
}

.u-section-1 .u-image-4 {
  width: 41px;
  height: 41px;
  margin: 29px 471px 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  text-transform: none;
  text-align: start;
  font-weight: 700;
  margin: -34px 0 0 693px;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  text-align: start;
  margin: 9px 23px 60px 693px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-1 .u-text-1 {
    text-transform: none;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 48px;
    margin-top: -391px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -65px;
    margin-right: 170px;
    margin-left: 593px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 188px;
    margin-left: 593px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -21px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 13px;
    margin-right: 81px;
    margin-left: 593px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 133px;
    margin-left: 593px;
  }

  .u-section-1 .u-image-3 {
    height: 49px;
    margin-top: -222px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 208px;
    margin-left: 593px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 133px;
    margin-left: 593px;
  }

  .u-section-1 .u-image-4 {
    height: 40px;
    margin-top: -236px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 231px;
    margin-left: 593px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -283px;
    margin-right: 0;
    margin-left: 593px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 60px;
    margin-left: 483px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 78px;
    margin-left: 483px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -15px;
    margin-right: 0;
    margin-left: 454px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 52px;
    margin-left: 454px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 454px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 52px;
    margin-left: 454px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 454px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 454px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -307px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -149px;
    margin-right: 0;
    margin-left: 363px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 18px;
    margin-left: 363px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 91px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -99px;
    margin-left: 274px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 274px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 274px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 274px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 274px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 274px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 291px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 163px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 163px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 291px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 74px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 74px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -164px;
    margin-right: 305px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 150px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 74px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -178px;
    margin-right: 299px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 173px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -225px;
    margin-left: 74px;
  }
}